.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}


.mainDiv{
    width: 66%;
    padding-top: 10vh;
    height: 100vh;
    animation: mainDivContainerIntro 4s cubic-bezier(.75, 0, .25, 1) both;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



@keyframes headlinerContainerAnim {
    0% {
        transform: perspective(500px) translate3d(0%, 0px, 50px);
        opacity: 0;
    }
    100% {
        transform: perspective(500px) translate3d(0%, 0px, 0px);
        opacity: 1;
    }
}

.headlinerContainerAnim{
    display: flex;
    flex-direction: row;
    animation: headlinerContainerAnim 1s cubic-bezier(.75, 0, .25, 1) both;
}

.headlinerContainerAnim p{
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1.15vw;
    line-height: 1.5vw;
}


.cvbutton {
    width: 100%;
    margin: 2%;
    border-radius: 50px;
    border: 2px solid #07111a;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    display: flex;
    padding: 10px 20px; 
    text-decoration: none; 
    font-size: 16px;
}



.headlinerContainer80{
    white-space: nowrap;
    animation: headlinerContainerAnim 1.2s cubic-bezier(.75, 0, .25, 1) both;
    display: flex;
    flex-direction: column;
    align-self: end;
    justify-content: end;
    width:70%;
}

.cvbutton{
    width: 100%;
    margin: 2%;
    border-radius: 50px;
    border: 2px solid #07111a; /* Green */
    font-size: 1.3vw;
}

.headlinerContainer20{
    width: 30%;
    padding-left: 2vw;
    overflow: hidden;
    animation: headlinerContainerAnim 1.5s cubic-bezier(.75, 0, .25, 1) both;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
  

@keyframes headlinerTextAnim {
    0%{
      transform: translate3d(0px, 12rem, 0px) scale3d(1, 1, 1) rotateX(-120deg) rotateY(0deg) rotateZ(0deg) skew(-12deg, 0deg); 
    }
    100% { 
      transform: translate3d(0px, 0rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); 
    }
}

.headlinerTextAnim {
    transform-style: preserve-3d;
    animation: headlinerTextAnim 1s cubic-bezier(.75, 0, .25, 1) both;
}

.h1sm {
    font-family: "gleffy";
    font-size: 5.5vw;
    line-height: 5.5vw;
    letter-spacing: -0.2vw;
    color: #1f1d1d;
}

.headlinerContainer20Bottom{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.projectsContainer{
    width: 66vw;
}

@media only screen and (max-width: 1150px) {

    .h1sm {
        font-family: "gleffy";
        font-size: 12vw;
        line-height: 10vw;
        letter-spacing: -0.2vw;
        color: #1f1d1d;
    }

    .mainDiv{
        width: 100%;
    }

    .headlinerContainer20{
        display: none;
        width: 0px;
    }

    .headlinerContainer80{
        width: 100%;
    }
    
    .headlinerContainerAnim p{
        display:none;
        width: 0px;
    }

    .cvbutton{
        font-size: 2vw;
    }

     
    .projectsContainer{
        width: 100%;
    }
    
}


  