.carouselImg{
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    -moz-user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
    -webkit-user-drag: none; /* Safari and Chrome */
    user-select: none;
}

.overlayDiv{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Space Grotesk', sans-serif;
}

.overlayDiv:hover{
    background-color: white;
    opacity: 20%;
}