.backdropStyle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.1); /* Make the backdrop semi-transparent */
}
  
.modalStyle {
    width: 100%; /* Set a specific width */
    height: 90%; /* Set a specific height */
    background-color: white; /* Add a visible background color */
    border-radius: 10px; /* Optional: make it look better */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: add a shadow for better visibility */
    padding: 20px; /* Add padding for the content */
    display: flex;
    flex-direction: column;
}

.contentDiv{
    width: 66%;
    display: flex;
    flex-direction: column;
    align-self: center;
    overflow-y: scroll;
    padding-bottom: 200px;
}

.contentDiv img{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.contentDiv h2{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
    font-size: 50px;
    margin-top: 50px;
    
}

.contentDiv h3{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
    font-size: 35px;
    margin-top: 70px;
    
}
.contentDiv p{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-top: 30px;
}

@media only screen and (max-width: 1150px) {
    .contentDiv{
        width: 100%;
    }
}
