@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #f8f5e8;
  color: #07111a;
}

@font-face {
  font-family: 'gleffy';
  font-style: normal;
  font-weight: normal;
  src: local('glefft'), url('./fonts/gleffy.woff2');
}

.h1lg {
  font-family: "gleffy";
  font-size: 10vw;
  line-height: 20vh;
  letter-spacing: -0.4vw;
  color: #1f1d1d;
}

.h1sm {
  font-family: "gleffy";
  font-size: 15vw;
  line-height: 20vh;
  letter-spacing: -0.4vw;
  color: #1f1d1d;
}
